body {
    background:
        url('../img/destaque1_bg.png') no-repeat 5% 4%,
        url('../img/destaque1_bg2.png') no-repeat 94% 12%,
        url('../img/destaque2_bg.png') no-repeat 12% 24%,
        url('../img/destaque1_bg.png') no-repeat 90% 27%,

        url('../img/destaque3_bg.png') no-repeat 4% 37%,
        url('../img/destaque2_bg.png') no-repeat 95% 49%,
        url('../img/destaque1_bg.png') no-repeat 5% 57%,
        url('../img/destaque1_bg2.png') no-repeat 97% 67%,

        url('../img/destaque1_bg.png') no-repeat 2% 85%,
        url('../img/destaque1_bg2.png') no-repeat 95% 87%,
        url('../img/destaque3_bg.png') no-repeat 5% 97%,

        url('../img/bg_gradiente.png') no-repeat;

    background-size: auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, cover;

}

.pagina.container {
    background: linear-gradient(to bottom, #e3d4f5, #fff, #d8edf8);
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 4%;
}

.modal-body .container{
    background: unset;
}

.titulo {
    padding: 2%;
}

.img-inicio {
    margin-top: 5%;
}

.numero2 {
    margin-left: -6%;
}

.modal-body .container {
    background: unset;
    padding-top: unset;
    padding-bottom: unset;
}

.painel-rr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.botao-request {
    background: url('../img/bt_request.png');
    width: 266px;
    height: 306px;
    border: none;
}

.botao-request:hover {
    background: url('../img/bt_request_hv.png');
    width: 258px;
    height: 305px;
    border: none;
}

.botao-response {
    background: url('../img/bt_response.png');
    width: 243px;
    height: 290px;
    border: none;
}

.botao-response:hover {
    background: url('../img/bt_response_hv.png');
    width: 243px;
    height: 291px;
    border: none;
}

.painel-requisicao-botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: -2%;
}

.painel-requisicao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.botao-post {
    background: url('../img/bt_post.png');
    width: 133px;
    height: 93px;
    border: none;
    border-radius: none;
}

.botao-post:hover {
    background: url('../img/bt_post_hv.png');
    border: none;
    border-radius: none;
}

.botao-get {
    background: url('../img/bt_get.png');
    width: 133px;
    height: 93px;
    border: none;
    border-radius: none;
}

.botao-get:hover {
    background: url('../img/bt_get_hv.png');
    border: none;
    border-radius: none;
}

.botao-put {
    background: url('../img/bt_put.png');
    width: 133px;
    height: 93px;
    border: none;
    border-radius: none;
}

.botao-put:hover {
    background: url('../img/bt_put_hv.png');
    border: none;
    border-radius: none;
}

.botao-patch {
    background: url('../img/bt_patch.png');
    width: 134px;
    height: 93px;
    border: none;
    border-radius: none;
}

.botao-patch:hover {
    background: url('../img/bt_patch_hv.png');
    border: none;
    border-radius: none;
}

.botao-delete {
    background: url('../img/bt_delete.png');
    width: 134px;
    height: 93px;
    border: none;
    border-radius: none;
}

.botao-delete:hover {
    background: url('../img/bt_delete_hv.png');
    border: none;
    border-radius: none;
}

.img-flor {
    margin-top: -43%;
}

.imagem-lupa {
    margin-right: 2%;
}




.painel-rest-botoes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-top: -2%;
}

.painel-rest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.botao-rest {
    background: url('../img/bt_rest.png');
    width: 126px;
    height: 88px;
    border: none;
    border-radius: none;
}

.botao-rest:hover {
    background: url('../img/bt_rest_hv.png');
    border: none;
    border-radius: none;
}

.botao-json {
    background: url('../img/bt_json.png');
    width: 126px;
    height: 88px;
    border: none;
    border-radius: none;
}

.botao-json:hover {
    background: url('../img/bt_json_hv.png');
    border: none;
    border-radius: none;
}

.botao-xml {
    background: url('../img/bt_xml.png');
    width: 126px;
    height: 88px;
    border: none;
    border-radius: none;
}

.botao-xml:hover {
    background: url('../img/bt_xml_hv.png');
    border: none;
    border-radius: none;
}

.imagem-boneco {
    margin-right: 2%;
}

.bg-escuro .container {
    background: transparent;
}


.bg-escuro .accordion-body p {
    color: #000;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .texto1,
.bg-escuro .texto2,
.bg-escuro .texto3,
.bg-escuro .texto4,
.bg-escuro .texto5 {
    color: #fff;
}

.bg-escuro .texto-botao {
    color: #fff;
}


/* codigos */
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px
}

pre {
    background-color: unset;
    border: unset;
    padding: unset;
}

.hljs {
    background: #000;
    color: #a39e9b;
}

.hljs-attr,
.hljs-template-tag {
    color: #8787d7;
}

.hljs-comment,
.hljs-doctag,
.hljs-quote {
    color: #396
}

.hljs-params {
    color: #a39e9b;
}

.hljs-regexp {
    color: #d700ff;
}

.hljs-literal,
.hljs-number,
.hljs-selector-id,
.hljs-tag {
    color: #ef5350;
}

.hljs-meta,
.hljs-meta .hljs-keyword {
    color: #0087ff;
}

.hljs-code,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-variable {
    color: #64b5f6;
}

.hljs-built_in,
.hljs-deletion,
.hljs-title {
    color: #ff8700;
}

.hljs-attribute,
.hljs-function,
.hljs-name,
.hljs-property,
.hljs-section,
.hljs-type {
    color: #ffd75f;
}

.hljs-addition,
.hljs-bullet,
.hljs-meta .hljs-string,
.hljs-string,
.hljs-subst,
.hljs-symbol {
    color: #558b2f;
}

.hljs-selector-tag {
    color: #96f;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}



@media screen and (max-width:1440px) {

    body {
        background:
            url('../img/destaque1_bg.png') no-repeat 3% 4%,
            url('../img/destaque1_bg2.png') no-repeat 97% 12%,
            url('../img/destaque2_bg.png') no-repeat 3% 24%,
            url('../img/destaque1_bg.png') no-repeat 97% 27%,

            url('../img/destaque3_bg.png') no-repeat 3% 37%,
            url('../img/destaque2_bg.png') no-repeat 97% 49%,
            url('../img/destaque1_bg.png') no-repeat 3% 57%,
            url('../img/destaque1_bg2.png') no-repeat 97% 67%,

            url('../img/destaque1_bg.png') no-repeat 3% 85%,
            url('../img/destaque1_bg2.png') no-repeat 97% 87%,
            url('../img/destaque3_bg.png') no-repeat 3% 97%,

            url('../img/bg_gradiente.png') no-repeat;

        background-size: auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, cover;

    }

}

@media screen and (max-width:1400px) {

    body {
        background:
            url('../img/destaque1_bg.png') no-repeat 0.5% 4%,
            url('../img/destaque1_bg2.png') no-repeat 99.5% 12%,
            url('../img/destaque2_bg.png') no-repeat 0.5% 24%,
            url('../img/destaque1_bg.png') no-repeat 99.5% 27%,

            url('../img/destaque3_bg.png') no-repeat 0.5% 37%,
            url('../img/destaque2_bg.png') no-repeat 99.5% 49%,
            url('../img/destaque1_bg.png') no-repeat 0.5% 57%,
            url('../img/destaque1_bg2.png') no-repeat 99.5% 67%,

            url('../img/destaque1_bg.png') no-repeat 0.5% 85%,
            url('../img/destaque1_bg2.png') no-repeat 99.5% 87%,
            url('../img/destaque3_bg.png') no-repeat 0.5% 97%,

            url('../img/bg_gradiente.png') no-repeat;

        background-size: auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, cover;

    }

}


@media screen and (max-width:1366px) {

    body {
        background:
            url('../img/destaque1_bg.png') no-repeat 0.5% 4%,
            url('../img/destaque1_bg2.png') no-repeat 99.5% 12%,
            url('../img/destaque2_bg.png') no-repeat 0.5% 24%,
            url('../img/destaque1_bg.png') no-repeat 99.5% 27%,

            url('../img/destaque3_bg.png') no-repeat 0.5% 37%,
            url('../img/destaque2_bg.png') no-repeat 99.5% 49%,
            url('../img/destaque1_bg.png') no-repeat 0.5% 57%,
            url('../img/destaque1_bg2.png') no-repeat 99.5% 67%,

            url('../img/destaque1_bg.png') no-repeat 0.5% 85%,
            url('../img/destaque1_bg2.png') no-repeat 99.5% 87%,
            url('../img/destaque3_bg.png') no-repeat 0.5% 97%,

            url('../img/bg_gradiente.png') no-repeat;

        background-size: auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, cover;

    }

}


@media screen and (max-width:1024px) {

    .img-inicio {
        margin-top: 3%;
    }
}

@media screen and (max-width:820px) {

    .bt-hamburguer {
        top: 62px !important;
    }

    .img-inicio {
        margin-top: 8%;
    }
}


@media screen and (max-width:768px) {
    .img-inicio {
        margin-top: 5%;
    }
}

@media screen and (max-width:500px) {
    .painel-rr {
        gap: 35px;
    }

    .painel-requisicao,
    .painel-rest {
        flex-direction: column;
        text-align: center;
    }

    .painel-requisicao-botoes,
    .painel-rest-botoes {
        grid-template-columns: 1fr;
    }

    .imagem-lupa {
        display: none;
    }

    .img-flor {
        display: none;
    }

    .imagem-boneco {
        display: none;
    }

    .img-inicio {
        display: none;
    }
}