body {
    background:

        url('../img/destaque1_bg_direita.png') no-repeat 2% 1%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 7%,
        url('../img/destaque2_bg_direita.png') no-repeat 5% 17%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 27%,

        url('../img/destaque1_bg_direita.png') no-repeat 2% 37%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 47%,
        url('../img/destaque2_bg_direita.png') no-repeat 5% 57%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 67%,

        url('../img/destaque1_bg_direita.png') no-repeat 2% 77%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 87%,
        url('../img/destaque2_bg_direita.png') no-repeat 5% 97%,

        url('../img/bg_gradiente.png') no-repeat;

    background-size: auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, cover;
    /* 
        url('../img/bg_elem3.png') no-repeat 100% 24%,
        url('../img/BG_elem5.png') no-repeat 100% 65%,
        url('../img/BG_elem4.png') no-repeat 0% 71%,
        url('../img/BG_bottom.png') no-repeat bottom; 
    background-size: 100%, 25%, 18%, 20%, 20%, auto;*/
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}

.painel-inst {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.botao-instalacao {
    background: url('../img/bt_instalacao.png');
    width: 236px;
    height: 124px;
    border: none;
}

.botao-instalacao:hover {
    background: url('../img/bt_instalacao_hv.png');
    border: none;
}

.botao-implementacao {
    background: url('../img/bt_implementacao.png');
    width: 236px;
    height: 124px;
    border: none;
}

.botao-implementacao:hover {
    background: url('../img/bt_implementacao_hv.png');
    border: none;
}

table td {
    line-height: 25px;
}

.larg-50{
    max-width: 50% !important;
}













.bg-escuro .accordion-body p {
    color: #000;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .texto1,
.bg-escuro .texto2,
.bg-escuro .texto3,
.bg-escuro .texto4,
.bg-escuro .texto5 {
    color: #fff;
}

.bg-escuro .texto-botao {
    color: #fff;
}


/* codigos */
pre code.hljs {
    display: block;
    overflow-x: hidden !important;
    padding: 1em;
    max-width: 400px;
}

code.hljs {
    padding: 3px 5px;
    width: 400px;
}

pre {
    background-color: unset;
    border: unset;
    padding: unset;
    width: 400px;
    overflow-x: hidden;
}

.hljs {
    background: #000;
    color: #a39e9b;
}

.hljs-attr,
.hljs-template-tag {
    color: #8787d7;
}

.hljs-comment,
.hljs-doctag,
.hljs-quote {
    color: #396
}

.hljs-params {
    color: #a39e9b;
}

.hljs-regexp {
    color: #d700ff;
}

.hljs-literal,
.hljs-number,
.hljs-selector-id,
.hljs-tag {
    color: #ef5350;
}

.hljs-meta,
.hljs-meta .hljs-keyword {
    color: #0087ff;
}

.hljs-code,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-variable {
    color: #64b5f6;
}

.hljs-built_in,
.hljs-deletion,
.hljs-title {
    color: #ff8700;
}

.hljs-attribute,
.hljs-function,
.hljs-name,
.hljs-property,
.hljs-section,
.hljs-type {
    color: #ffd75f;
}

.hljs-addition,
.hljs-bullet,
.hljs-meta .hljs-string,
.hljs-string,
.hljs-subst,
.hljs-symbol {
    color: #558b2f;
}

.hljs-selector-tag {
    color: #96f;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

@media screen and (max-width:1440px) {

    body {
        background:

            url('../img/destaque1_bg_direita.png') no-repeat 2% 1%,
            url('../img/destaque1_bg_esquerda.png') no-repeat 97% 7%,
            url('../img/destaque2_bg_direita.png') no-repeat 5% 17%,
            url('../img/destaque1_bg_esquerda.png') no-repeat 97% 27%,

            url('../img/destaque1_bg_direita.png') no-repeat 2% 37%,
            url('../img/destaque1_bg_esquerda.png') no-repeat 97% 47%,
            url('../img/destaque2_bg_direita.png') no-repeat 5% 57%,
            url('../img/destaque1_bg_esquerda.png') no-repeat 97% 67%,

            url('../img/destaque1_bg_direita.png') no-repeat 2% 77%,
            url('../img/destaque1_bg_esquerda.png') no-repeat 97% 87%,
            url('../img/destaque2_bg_direita.png') no-repeat 5% 97%,

            url('../img/bg_gradiente.png') no-repeat;

        background-size: 15%, 15%, auto, 15%, 15%, 15%, auto, 15%, 15%, 15%, auto, cover;

    }

}

@media screen and (max-width:1400px) {}

@media screen and (max-width:1366px) {}

@media screen and (max-width:1024px) {
    body {
        background: none;
    }


    body {
        background: url('../img/bg_gradiente.png') no-repeat;
        background-size: cover;
    }


}


@media screen and (max-width:820px) {

    p,
    li,
    th,
    td,
    a,
    .figure-caption,
    .botao,
    .tab-pane {
        font-size: .8em;
    }




}



@media screen and (max-width:768px) {}


@media screen and (max-width:500px) {
    .painel-inst {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }
}


@media screen and (max-width:414px) {}

@media screen and (max-width:375px) {}