body {
    background:
        url('../img/bg_top.png') no-repeat top,
        url('../img/bg_elem2.png') no-repeat 0% 25%,
        url('../img/bg_elem3.png') no-repeat 100% 24%,
        url('../img/BG_elem5.png') no-repeat 100% 65%,
        url('../img/BG_elem4.png') no-repeat 0% 71%,
        url('../img/BG_bottom.png') no-repeat bottom;
    background-size: 100%, 25%, 18%, 20%, 20%, auto;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}

.mr-3 {
    margin-right: 3px;
}

.painel-sistemas {
    display: flex;
    justify-content: space-evenly;
}

.btn-linux {
    background: url('../img/bt1.png') no-repeat;
    width: 253px;
    height: 253px;
    border: none;
}

.btn-linux:hover {
    background: url('../img/bt1_hv.png') no-repeat;
    border: none;
}

.btn-windows {
    background: url('../img/bt2.png') no-repeat;
    width: 253px;
    height: 253px;
    border: none;
}

.btn-windows:hover {
    background: url('../img/bt2_hv.png') no-repeat;
    border: none;
}

.painel-empresas .botao {
    margin-left: 3%
}

.painel-empresas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../img/painel_bg.png');
    width: 901px;
    height: 662px;
}

.botao-3 {
    background: url('../img/painel_bt1.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-3:hover {
    background: url('../img/painel_bt1_hv.png');
    border: none;
}

.botao-4 {
    background: url('../img/painel_bt2.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-4:hover {
    background: url('../img/painel_bt2_hv.png');
    border: none;
}

.botao-5 {
    background: url('../img/painel_bt3.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-5:hover {
    background: url('../img/painel_bt3_hv.png');
    border: none;
}

.botao-6 {
    background: url('../img/painel_bt4.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-6:hover {
    background: url('../img/painel_bt4_hv.png');
    border: none;
}

.botao-7 {
    background: url('../img/painel_bt5.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-7:hover {
    background: url('../img/painel_bt5_hv.png');
    border: none;
}

.botao-8 {
    background: url('../img/painel_bt6.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-8:hover {
    background: url('../img/painel_bt6_hv.png');
    border: none;
}

.botao-9 {
    background: url('../img/painel_bt7.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-9:hover {
    background: url('../img/painel_bt7_hv.png');
    border: none;
}

.botao-10 {
    background: url('../img/painel_bt8.png');
    width: 174px;
    height: 178px;
    border: none;
}

.botao-10:hover {
    background: url('../img/painel_bt8_hv.png');
    border: none;
}

.botao-3,
.botao-4,
.botao-5,
.botao-6 {
    margin-top: 22%;
}

.img-encerramento {
    margin-top: 40%;
}

.bg-escuro .accordion-body p {
    color: #000;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}

.div-encerramento {
    margin-top: 5%;
    margin-bottom: 5%;
}


@media screen and (max-width:1440px) {
    body {
        background: url('../img/bg_top.png') no-repeat 0% 1%,
            url('../img/bg_elem2.png') no-repeat 0% 25%,
            url('../img/bg_elem3.png') no-repeat 100% 24%,
            url('../img/BG_elem5.png') no-repeat 100% 65%,
            url('../img/BG_elem4.png') no-repeat 0% 71%,
            url('../img/BG_bottom.png') no-repeat bottom;
        background-size: 86%, 25%, 18%, 20%, 20%, 100%;
    }
}

@media screen and (max-width:1400px) {
body {
    background:
        url('../img/bg_top.png') no-repeat 0% 1%,
        url('../img/bg_elem2.png') no-repeat 0% 25%,
        url('../img/bg_elem3.png') no-repeat 100% 24%,
        url('../img/BG_elem5.png') no-repeat 100% 65%,
        url('../img/BG_elem4.png') no-repeat 0% 71%,
        url('../img/BG_bottom.png') no-repeat bottom;
    background-size: 85%, 25%, 18%, 20%, 20%, auto;
}
}

@media screen and (max-width:1366px) {
    body {
        background:
            url('../img/bg_top.png') no-repeat 0% 1%,
            url('../img/bg_elem2.png') no-repeat 0% 25%,
            url('../img/bg_elem3.png') no-repeat 100% 24%,
            url('../img/BG_elem5.png') no-repeat 100% 65%,
            url('../img/BG_elem4.png') no-repeat 0% 71%,
            url('../img/BG_bottom.png') no-repeat bottom;
        background-size: 80%, 25%, 18%, 20%, 20%, auto;
    }
    }

@media screen and (max-width:1024px) {
    body {
        background: none;
    }

    .div-encerramento {
        margin-top: 5%;
        margin-bottom: unset;
    }
}


@media screen and (max-width:820px) {
    .painel-empresas {
        transform: scale(0.8);
        margin-left: -9%
    }

    .img-encerramento {
        margin-top: 56%;
    }

    body {
        background: none;
    }

    .div-encerramento {
        margin-top: unset;
        margin-bottom: unset;
    }

}

@media screen and (max-width:768px) {
    .painel-empresas {
        transform: scale(0.7);
        margin-left: -15%;
        margin-top: -8%;
    }

    .div-encerramento {
        margin-top: -8%;
        margin-bottom: unset;
    }
}


@media screen and (max-width:500px) {
    .painel-sistemas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .painel-empresas {
        display: flex;
        flex-wrap: wrap;
        background-image: url(../img/painel_bg_mob.png);
        width: 321px;
        height: 877px;
        transform: unset;
        margin-top: unset !important;
        margin-left: 6%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .painel-empresas .botao {
        transform: scale(0.8);
        margin-left: unset;
    }

    .botao-4,
    .botao-5,
    .botao-6 {
        margin-top: unset;
    }

    .botao-3,
    .botao-7 {
        margin-top: 38%;
    }

    .img-encerramento {
        margin-top: unset;
    }

    .div-encerramento {
        margin-top: 10%;
        margin-bottom: 5%;
    }
}


@media screen and (max-width:375px) {
    .painel-empresas {
        margin-left: -1%;
    }

    .marcador-seta li{
        padding-left:26px;
    }

    .marcador-seta{
        padding-left: unset;
    }
}