body {
    background:
        url('../img/destaque_bg_esq.png') repeat-y left,
        url('../img/destaque_bg_direita.png') repeat-y right;
    background-size: auto, auto;
}

.numero-item {
    margin-left: -4%;
}

.numero-item3 {
    margin-left: -4%;
}

.grafismo .destaque ol {
    color: #fff;
}

.grafismo .destaque ul {
    color: #fff;
}

.bg-escuro .accordion-body p {
    color: #000;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .figure-caption {
    color: #6c757d;
}

.bg-escuro .texto1,
.bg-escuro .texto2,
.bg-escuro .texto3,
.bg-escuro .texto4,
.bg-escuro .texto5 {
    color: #fff;
}

.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .modal-body .hljs {
    color: inherit;
}

.bg-escuro .destaque .hljs-regexp {
    color: #d700ff;
}

.bg-escuro .accordion-body li {
    color: inherit;
}

/* codigos */
pre code.hljs {
    display: block;
    overflow-x: hidden;
    padding: 1em;
    font-size: 1.2em;
    word-break: normal;
    white-space: pre-wrap;
}

code.hljs {
    padding: 3px 5px;
    font-size: 0.7em;
    word-break: break-all;
    white-space: pre-wrap;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.7em;
    word-break: break-all;
    word-wrap: break-word;
}

pre {
    background-color: unset;
    border: unset;
    padding: unset;
}

.hljs {
    background: #000;
    color: #a39e9b;
}

.hljs-attr,
.hljs-template-tag {
    color: #8787d7;
}

.hljs-comment,
.hljs-doctag,
.hljs-quote {
    color: #396
}

.hljs-params {
    color: #a39e9b;
}

.hljs-regexp {
    color: #d700ff;
}

.hljs-literal,
.hljs-number,
.hljs-selector-id,
.hljs-tag {
    color: #ef5350;
}

.hljs-meta,
.hljs-meta .hljs-keyword {
    color: #0087ff;
}

.hljs-code,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-variable {
    color: #64b5f6;
}

.hljs-built_in,
.hljs-deletion,
.hljs-title {
    color: #ff8700;
}

.hljs-attribute,
.hljs-function,
.hljs-name,
.hljs-property,
.hljs-section,
.hljs-type {
    color: #ffd75f;
}

.hljs-addition,
.hljs-bullet,
.hljs-meta .hljs-string,
.hljs-string,
.hljs-subst,
.hljs-symbol {
    color: #558b2f;
}

.hljs-selector-tag {
    color: #96f;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}


@media screen and (max-width:1440px) {
    body {
        background-size: 17%, 17%;
    }
}


@media screen and (max-width:1024px) {
    body {
        background: unset;
    }

    .img-inicio {
        margin-top: 3%;
    }

    .btn-tema_pagina {
        bottom: 70px;
        right: 15px;
    }

    .voltar-topo {
        bottom: 20px;
        right: 15px;
    }
}

@media screen and (max-width:820px) {

    .bt-hamburguer {
        top: 62px !important;
    }

    .numero-item3 {
        margin-left: -2%;
    }

}

@media screen and (max-width:780px) {

    p,
    li,
    th,
    td,
    a,
    .figure-caption,
    .botao,
    .tab-pane,
    b {
        font-size: initial;

    }
}