body {
    background:

        url('../img/destaque1_bg_direita.png') no-repeat 2% 1%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 7%,
        url('../img/destaque2_bg_direita.png') no-repeat 5% 17%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 27%,

        url('../img/destaque1_bg_direita.png') no-repeat 2% 37%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 47%,
        url('../img/destaque2_bg_direita.png') no-repeat 5% 57%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 67%,

        url('../img/destaque1_bg_direita.png') no-repeat 2% 77%,
        url('../img/destaque1_bg_esquerda.png') no-repeat 97% 87%,
        url('../img/destaque2_bg_direita.png') no-repeat 5% 97%,

        url('../img/bg_gradiente.png') no-repeat;

    background-size: auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, cover;
    /* 
        url('../img/bg_elem3.png') no-repeat 100% 24%,
        url('../img/BG_elem5.png') no-repeat 100% 65%,
        url('../img/BG_elem4.png') no-repeat 0% 71%,
        url('../img/BG_bottom.png') no-repeat bottom; 
    background-size: 100%, 25%, 18%, 20%, 20%, auto;*/
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}


.painel-web {
    background: url('../img/infog1.png');
    position: relative;
    width: 280px;
    height: 521px;
    margin: auto;
}




.bg-escuro .accordion-body p {
    color: #000;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .texto1,
.bg-escuro .texto2,
.bg-escuro .texto3,
.bg-escuro .texto4,
.bg-escuro .texto5 {
    color: #fff;
}

.bg-escuro .texto-botao {
    color: #fff;
}

@media screen and (max-width:1440px) {}


@media screen and (max-width:1400px) {}

@media screen and (max-width:1366px) {}

@media screen and (max-width:1024px) {


    body {
        background: url('../img/bg_gradiente.png') no-repeat;
        background-size: cover;
    }


}


@media screen and (max-width:820px) {

    p,
    li,
    th,
    td,
    a,
    .figure-caption,
    .botao,
    .tab-pane {
        font-size: .8em;
    }

    .modal-dialog {
        max-width: 650px;
        margin: 1.75rem auto;
    }

}



@media screen and (max-width:768px) {
    .modal-dialog {
        max-width: 650px;
        margin: 1.75rem auto;
    }
}


@media screen and (max-width:500px) {

   

}


@media screen and (max-width:375px) {
   







}